<div class="row">
	<div class="span12" style='margin-bottom:20px;margin-top:10px;'>
		These are some Wikimedia-related tools for
		<b>G</b>alleries, 
		<b>L</b>ibraries, 
		<b>A</b>rchives, and 
		<b>M</b>useums.
	</div>
</div>

<div class="row">

<div class="span8">
	<div class='well well-small'>
		<ul class='unstyled'>
			<li><a href='./baglama2/'>BaGLAMa</a></li>
			<li><a href='./glamorous/'>GLAMorous</a></li>
			<li><a href='./treeviews/'>TreeViews</a></li>
			<li><a href='./glamorgan.html'>GLAMorgan</a></li>
		</ul>
	</div>
</div>

</div>
