<div class="row">
	<div class="col-sm-9">

<!--<big style='color:red'>DUE TO LACK OF SPEEDY STATS SERVER, THIS TOOL WILL BE SLOW. HAVE PATIENCE.</big>		-->
		<h3>Monthly view statistics for category trees (or PagePile)</h3>
		
		<form class="well well-small form-inline" id='theform'>
		
			<formset>

				<legend style='margin-bottom:0px;'>Date</legend>
				
				<table class='table table-condensed'>
					
					<tr>
						<td><label class="control-label">Start day</label></td>
						<td><div class="btn-group" id='dd_date_start' style='display:inline'>
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class='year_month' id='start_date'>xxxx-xx</span><span class="caret"></span></a>
							<ul class="dropdown-menu"></ul>
						</div>- <select class='span1' id='start_day'></select></td>
					</tr>

					<tr>
						<td><label class="control-label">End day</label></td>
						<td><div class="btn-group" id='dd_date_end' style='display:inline'>
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class='year_month' id='end_date'>xxxx-xx</span><span class="caret"></span></a>
							<ul class="dropdown-menu"></ul>
						</div>- <select class='span1' id='end_day'></select></td>
					</tr>
					
				</table>

			</formset>

			<formset>
				<table class='table table-condensed'>
					<tr>
						<td><legend style='margin-bottom:0px;'>Defaults</legend></td>
						<td><legend style='margin-bottom:0px;'>Options</legend></td>
					</tr>
					
					<tr>
						<td valign='top'>
							<table border=0 cellspacing=0 cellpadding=5>
								<tr><td><label class="control-label" for="lang">Language</label></td><td><input id="lang" type="text" class="input-small" placeholder="en"></td></tr>
								<tr><td><label class="control-label" for="project">Project</label></td><td><input id="project" type="text" class="input-small" placeholder="wikipedia"></td></tr>
								<tr><td><label class="control-label" for="depth">Depth</label></td><td><input id="depth" type="number" class="input-small span1" placeholder="9"></td></tr>
							</table>
						</td>
						<td valign='top'>
							<div><label style='margin-right:20px' class="control-label"><input id="union" type="checkbox" class="input-small"> Category union</label></div>
							<div><label style='margin-right:20px' class="control-label"><input id="languages" type="checkbox" class="input-small"> Auto-languages</label></div>
							<div><label style='margin-right:20px' class="control-label"><input id="dates" type="checkbox" class="input-small"> Creation dates</label></div>
							<div><label style='margin-right:20px' class="control-label"><input id="files" type="checkbox" class="input-small"> Files instead of articles</label></div>
						</td>
					</tr>
					
				</table>
			</formset>

			<formset>
				<legend style='margin-bottom:0px;'>PagePile</legend>
				<label class="control-label" for="pagepile">PagePile ID</label>&nbsp; <input id="pagepile" type="number" class="input-small"> <small>(overrides most other settings; see <a href='/pagepile/' target='_blank'>PagePile</a> for more information)</small>
			</formset>


			<formset>
				<legend style='margin-bottom:0px;'>Categories</legend>
				
				<table id='catable' class="table table-condensed"">
					<thead id='cat_header' style='display:none'>
						<tr>
							<th>Language</th>
							<th>Project</th>
							<th>Exclude</th>
							<th>Talk</th>
							<th>Category</th>
							<th>Depth</th>
							<th/>
						</tr>
					</thead>
					
					<tbody>
					</tbody>
					
					<tfoot>
						<tr>
							<td colspan=4 style='text-align:left'>
								<button class='btn' onclick='addCategory({});return false'><i class='icon-plus'></i> Add category</button>
								<button id='b_clear' class='btn btn-danger' style='display:none' onclick='clearCategories();return false'>Clear categories</button>
							</td>
							<td colspan=2 style='text-align:right'>
								<button id='b_run' style='display:none' class='btn btn-primary' onclick='runTool();return false'>Run</button>
							</td>
						</tr>
					</tfoot>
					
				</table>
				
				<div style='font-size:8pt'>
				Check <i>exclude</i> to remove articles in that category tree from the results. Check <i>talk</i> to look for talk pages in the category tree, but use the article page in the results.
				</div>
					
			</formset>
			
			
		</form>
		
	</div>
	<div class="col-sm-3">
		<h3>Examples</h3>
		<div class='well well-small'>
			<ul class='nav'>
				<li><a href='#' onclick='showExample(2);return false'>British Museum, without staff</a></li>
				<li><a href='#' onclick='showExample(1);return false'>Public art in Indianapolis</a></li>
				<li><a href='#' onclick='showExample(3);return false'>WP Military History WW1</a></li>
			</ul>
		</div>
		<div style='text-align:right'><a href='https://www.flickr.com/photos/93425126@N00/4390759754/in/set-72157623515077498'><img border=0 title='View of a tree' src='https://farm5.static.flickr.com/4008/4390759754_74ec3111cd_m.jpg'/></a></div>
	</div>
</div>


<div class="row" id='result_container' style='display:none'>
	<div class="span9" id='results'>
	</div>
</div>
